/* Основные стили */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Цвет фона для темной темы */
    color: #e0e0e0; /* Цвет текста */
}

header {
    background-color: #f9a602; /* Цвет фона заголовка */
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 2em;
    border-bottom: 2px solid #ffcc00; /* Подчеркивание заголовка */
    padding-bottom: 10px;
}

.project-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-card {
    background-color: #1e1e1e; /* Цвет фона карточки проекта */
    border: 1px solid #444; /* Цвет рамки */
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    flex: 1 1 calc(30% - 20px); /* 3 карточки в строке */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.team-member {
    background-color: #2e2e2e; /* Цвет фона для членов команды */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.donate-button {
    display: inline-block;
    background-color: #28a745; /* Цвет фона кнопки */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.donate-button:hover {
    background-color: #218838; /* Цвет кнопки при наведении */
}

.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}

/* Стили для изображения Patreon */
.patreon-image {
    width: 100%; /* Установить ширину изображения */
    max-width: 400px; /* Максимальная ширина для десктопа */
    margin: 10px 0; /* Отступы сверху и снизу */
    border-radius: 8px; /* Закругленные углы */
}

/* Мобильные стили */
@media (max-width: 768px) {
    .project-card {
        flex: 1 1 calc(100% - 20px); /* Одна карточка на мобильном */
    }
}
