body {
    background: linear-gradient(to bottom right, #87CEEB, #FFCC00);
    color: #333;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 20px;
}

header {
    background-color: #FFCC00;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

h1 {
    color: #FF9900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #FFCC00;
}

.project-gallery {
    display: flex;
    flex-wrap: wrap; /* Позволяет карточкам переноситься на новую строку */
    justify-content: center;
    gap: 20px; /* расстояние между карточками */
}

.project-card {
    background-color: #FFFFFF; /* белый фон для карточки */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width: 200px; /* фиксированная ширина для карточек */
    flex: 1 1 200px; /* карточки будут занимать минимум 200px */
}

.project-card:hover {
    transform: translateY(-5px); /* эффект при наведении */
}

.team-member {
    background-color: #FFD700;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}

.donate-button {
    background-color: #FF9900;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1em; /* увеличенный шрифт */
    transition: background-color 0.3s, transform 0.3s; /* анимации */
}

.donate-button:hover {
    background-color: #FFCC00; /* яркий желтый при наведении */
    transform: scale(1.05); /* эффект увеличения */
}

section {
    margin: 40px 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* полупрозрачный белый фон */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 600px) {
    .project-gallery {
        flex-direction: column; /* Вертикальное расположение карточек */
        align-items: center; /* Центрирование карточек */
    }

    .project-card {
        width: 90%; /* Ширина карточек на мобильных устройствах */
    }
}

.footer {
    margin-top: 20px;
    font-size: 0.8em;
}
