body {
    background-color: #87CEEB; /* Небесно-голубой */
    color: #333333; /* Темно-серый для текста */
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #FFCC00; /* Яркий желтый */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Тень для текста */
}

.footer {
    margin-top: 20px;
    font-size: 0.8em;
}

/* Для цветовых блоков в разделе палитры */
.color1 { background-color: #FFCC00; } /* Яркий желтый */
.color2 { background-color: #FF9900; } /* Оранжевый */
.color3 { background-color: #FFD700; } /* Золотистый */
